<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300">
</center>

# Assignment: Notebook for Peer Assignment

Estimated time needed: 45 minutes

# Assignment Scenario

Congratulations! You have just been hired by a US Venture Capital firm as a data analyst.

The company is considering foreign grain markets to help meet its supply chain requirements for its recent investments in the microbrewery and microdistillery industry, which is involved with the production and distribution of craft beers and spirits.

Your first task is to provide a high level analysis of crop production in Canada. Your stakeholders want to understand the current and historical performance of certain crop types in terms of supply and price volatility. For now they are mainly interested in a macro-view of Canada's crop farming industry, and how it relates to the relative value of the Canadian and US dollars.

# Introduction

Using this R notebook you will:

1.  Understand four datasets
2.  Load the datasets into four separate tables in a database
3.  Execute SQL queries to answer assignment questions

You have already encountered two of these datasets in the previous practice lab. You will be able to reuse much of the work you did there to prepare your database tables for executing SQL queries.

# Understand the datasets

To complete the assignment problems in this notebook you will be using subsetted snapshots of two datasets from Statistics Canada, and one from the Bank of Canada. The links to the prepared datasets are provided in the next section; the interested student can explore the landing pages for the source datasets as follows:

1.  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210035901">Canadian Principal Crops (Data & Metadata)</a>
2.  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210007701">Farm product prices (Data & Metadata)</a>
3.  <a href="https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01">Bank of Canada daily average exchange rates</a>

### 1. Canadian Principal Crops Data \*

This dataset contains agricultural production measures for the principle crops grown in Canada, including a breakdown by province and teritory, for each year from 1908 to 2020.

For this assignment you will use a preprocessed snapshot of this dataset (see below).

A detailed description of this dataset can be obtained from the StatsCan Data Portal at:
[https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210035901](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210035901)\
Detailed information is included in the metadata file and as header text in the data file, which can be downloaded - look for the 'download options' link.

### 2. Farm product prices

This dataset contains monthly average farm product prices for Canadian crops and livestock by province and teritory, from 1980 to 2020 (or 'last year', whichever is greatest).

For this assignment you will use a preprocessed snapshot of this dataset (see below).

A description of this dataset can be obtained from the StatsCan Data Portal at:
[https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210007701](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210007701)
The information is included in the metadata file, which can be downloaded - look for the 'download options' link.

### 3. Bank of Canada daily average exchange rates \*

This dataset contains the daily average exchange rates for multiple foreign currencies. Exchange rates are expressed as 1 unit of the foreign currency converted into Canadian dollars. It includes only the latest four years of data, and the rates are published once each business day by 16:30 ET.

For this assignment you will use a snapshot of this dataset with only the USD-CAD exchange rates included (see next section). We have also prepared a monthly averaged version which you will be using below.

A brief description of this dataset and the original dataset can be obtained from the Bank of Canada Data Portal at:
[https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates/](https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01)

( \* these datasets are the same as the ones you used in the practice lab)

### Dataset URLs

1.  Annual Crop Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Annual_Crop_Data.csv>

2.  Farm product prices: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_Farm_Prices.csv>

3.  Daily FX Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Daily_FX.csv>

4.  Monthly FX Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv>

<span style="color:red">**IMPORTANT:**</span> You will be loading these datasets directly into R data frames from these URLs instead of from the StatsCan and Bank of Canada portals. The versions provided at these URLs are simplified and subsetted versions of the original datasets.

#### Now let's load these datasets into four separate tables.

Let's first load the RSQLite package:

In [2]:
install.packages(c('RSQLite'), repos = 'https://cran.rstudio.com',dependecies=TRUE)

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

#### Restart Kernel

After installing the RSQLite package, it is necessary to restart R Kernel. Click **Kernel** > **Restart Kernel** from the main menu. This will register the newly installed packages. Now proceed to load the RSQLite package.

In [1]:
library("RSQLite")
library(DBI)

## Problem 1

#### Create tables

Establish a connection **conn** to the RSQLite database **FinalDB.sqlite**, and create the following four tables.

1.  **CROP_DATA**
2.  **FARM_PRICES**
3.  **DAILY_FX**
4.  **MONTHLY_FX**

The previous practice lab will help you accomplish this.

In [2]:
conn <- dbConnect(RSQLite::SQLite(),"FinalDB.sqlite")

In [18]:
dbRemoveTable(conn, "CROP_DATA")
dbRemoveTable(conn, "FARM_PRICES")
dbRemoveTable(conn, "DAILY_FX")
dbRemoveTable(conn, "MONTHLY_FX")

ERROR: Error: no such table: CROP_DATA

In [19]:
# CROP DATA
df1 <- dbExecute(conn, 
                    "CREATE TABLE CROP_DATA (
                                      CD_ID INTEGER NOT NULL,
                                      YEAR DATE NOT NULL,
                                      CROP_TYPE VARCHAR(20) NOT NULL,
                                      GEO VARCHAR(20) NOT NULL, 
                                      SEEDED_AREA INTEGER NOT NULL,
                                      HARVESTED_AREA INTEGER NOT NULL,
                                      PRODUCTION INTEGER NOT NULL,
                                      AVG_YIELD INTEGER NOT NULL,
                                      PRIMARY KEY (CD_ID)
                                      )", 
                    errors=FALSE
                    )

In [20]:
# FARM Prices
df2 <- dbExecute(conn, 
                    "CREATE TABLE FARM_PRICES (
                                      CD_ID INTEGER NOT NULL,
                                      YEAR DATE NOT NULL,
                                      CROP_TYPE VARCHAR(20) NOT NULL,
                                      GEO VARCHAR(20) NOT NULL,
                                    PRICE_PRERMT FLOAT(6) NOT NULL,
PRIMARY KEY (CD_ID)
)",
                 errors = FALSE)

In [21]:
df3 <- dbExecute(conn, 
                 "CREATE TABLE DAILY_FX (
DFX_ID INTEGER NOT NULL,
YEAR DATE NOT NULL,
FXUSDCAD FLOAT(6) NOT NULL,
PRIMARY KEY (DFX_ID)
)",
                 errors = FALSE)

In [22]:
df4 <- dbExecute(conn, 
                 "CREATE TABLE MONTHLY_FX (
DFX_ID INTEGER NOT NULL,
YEAR DATE NOT NULL,
FXUSDCAD FLOAT(8) NOT NULL,
PRIMARY KEY (DFX_ID)
)",
                 errors = FALSE)

In [23]:
if (df4 == -1 | df3 == -1 | df2 == -1 | df1 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("ALL tables were created successfully.\n")
    }

ALL tables were created successfully.

In [17]:
#check list of tables in the present db.
dbListTables(conn)

[1] "CROP_DATA"   "DAILY_FX"    "FARM_PRICES" "MONTHLY_FX"

## Problem 2

#### Read Datasets and load your tables in database

Read the datasets into R dataframes using the urls provided above. Then load your tables in database.

In [4]:
crop_df <- read.csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Annual_Crop_Data.csv")
farm_df <- read.csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_Farm_Prices.csv")
daily_df <- read.csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Daily_FX.csv")
monthly_df <- read.csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv")
head(crop_df)
head(farm_df)
head(daily_df)
head(monthly_df)
dbWriteTable(conn, "CROP_DATA", crop_df, overwrite=TRUE, header = TRUE)
dbWriteTable(conn, "FARM_PRICES", farm_df, overwrite=TRUE, header = TRUE)
dbWriteTable(conn, "DAILY_FX", daily_df, overwrite=TRUE, header = TRUE)
dbWriteTable(conn, "MONTHLY_FX", monthly_df, overwrite=TRUE, header = TRUE)

  CD_ID YEAR       CROP_TYPE GEO          SEEDED_AREA HARVESTED_AREA PRODUCTION
1 0     1965-12-31 Barley    Alberta      1372000     1372000        2504000
2 1     1965-12-31 Barley    Canada       2476800     2476800        4752900
3 2     1965-12-31 Barley    Saskatchewan  708000      708000        1415000
4 3     1965-12-31 Canola    Alberta       297400      297400         215500
5 4     1965-12-31 Canola    Canada        580700      580700         512600
6 5     1965-12-31 Canola    Saskatchewan  224600      224600         242700
  AVG_YIELD
1 1825
2 1920
3 2000
4  725
5  885
6 1080

  CD_ID DATE       CROP_TYPE GEO          PRICE_PRERMT
1 0     1985-01-01 Barley    Alberta      127.39
2 1     1985-01-01 Barley    Saskatchewan 121.38
3 2     1985-01-01 Canola    Alberta      342.00
4 3     1985-01-01 Canola    Saskatchewan 339.82
5 4     1985-01-01 Rye       Alberta      100.77
6 5     1985-01-01 Rye       Saskatchewan 109.75

  DFX_ID DATE       FXUSDCAD
1 0      2017-01-03 1.3435
2 1      2017-01-04 1.3315
3 2      2017-01-05 1.3244
4 3      2017-01-06 1.3214
5 4      2017-01-09 1.3240
6 5      2017-01-10 1.3213

  DFX_ID DATE       FXUSDCAD
1 0      2017-01-01 1.319276
2 1      2017-02-01 1.310726
3 2      2017-03-01 1.338643
4 3      2017-04-01 1.344021
5 4      2017-05-01 1.360705
6 5      2017-06-01 1.329805

In [5]:
dbWriteTable(conn, "CROP_DATA", crop_df, overwrite=TRUE, header = TRUE)
dbWriteTable(conn, "FARM_PRICES", farm_df, overwrite=TRUE, header = TRUE)
dbWriteTable(conn, "DAILY_FX", daily_df, overwrite=TRUE, header = TRUE)
dbWriteTable(conn, "MONTHLY_FX", monthly_df, overwrite=TRUE, header = TRUE)

## Now execute SQL queries using the RSQLite R package to solve the assignment problems.

## Problem 3

#### How many records are in the farm prices dataset?

In [27]:
dbGetQuery(conn, 'SELECT COUNT(CD_ID) FROM FARM_PRICES') #2678 RECORDS

  COUNT(CD_ID)
1 2678

## Problem 4

#### Which geographies are included in the farm prices dataset?

In [28]:
dbGetQuery(conn, 'SELECT DISTINCT(GEO) FROM FARM_PRICES') #alberta and sakathchewan

  GEO
1 Alberta
2 Saskatchewan

## Problem 5

#### How many hectares of Rye were harvested in Canada in 1968?

In [40]:
dbGetQuery(conn, "SELECT SUM(HARVESTED_AREA) AS TOTAL_RYE_1968 FROM CROP_DATA
WHERE CROP_TYPE = 'Rye' AND strftime('%Y',YEAR) = '1968'")

  TOTAL_RYE_1968
1 476100

## Problem 6

#### Query and display the first 6 rows of the farm prices table for Rye.

In [6]:
dbGetQuery(conn, 'SELECT * FROM CROP_DATA 
WHERE CROP_TYPE="Rye" LIMIT 6')

  CD_ID YEAR       CROP_TYPE GEO          SEEDED_AREA HARVESTED_AREA PRODUCTION
1  6    1965-12-31 Rye       Alberta       81000       81000         116400
2  7    1965-12-31 Rye       Canada       323900      323900         453400
3  8    1965-12-31 Rye       Saskatchewan 166000      166000         224000
4 18    1966-12-31 Rye       Alberta       70000       70000         109000
5 19    1966-12-31 Rye       Canada       293400      293400         437600
6 20    1966-12-31 Rye       Saskatchewan 161000      161000         228600
  AVG_YIELD
1 1435
2 1400
3 1350
4 1555
5 1490
6 1420

## Problem 7

#### Which provinces grew Barley?

In [48]:
dbGetQuery(conn, "SELECT DISTINCT(GEO) FROM CROP_DATA 
WHERE CROP_TYPE = 'Barley' AND GEO != 'Canada'")

  GEO
1 Alberta
2 Saskatchewan

## Problem 8

#### Find the first and last dates for the farm prices data.

In [50]:
dbGetQuery(conn, 'SELECT min(DATE) FIRST_DATE, max(DATE) LAST_DATE FROM FARM_PRICES')

  FIRST_DATE LAST_DATE
1 1985-01-01 2020-12-01

## Problem 9

#### Which crops have ever reached a farm price greater than or equal to $350 per metric tonne?

In [53]:
dbGetQuery(conn, "SELECT DISTINCT(CROP_TYPE) FROM FARM_PRICES 
WHERE PRICE_PRERMT >= 350")

  CROP_TYPE
1 Canola

## Problem 10

#### Rank the crop types harvested in Saskatchewan in the year 2000 by their average yield. Which crop performed best?

In [7]:
dbGetQuery(conn, "SELECT CROP_TYPE, MAX(AVG_YIELD) AS  AVG_YIELD_RANK
FROM CROP_DATA
WHERE strftime('%Y',YEAR) = '2000' AND
GEO = 'Saskatchewan' 
GROUP BY CROP_TYPE
ORDER BY AVG_YIELD_RANK desc")

  CROP_TYPE AVG_YIELD_RANK
1 Barley    2800
2 Wheat     2200
3 Rye       2100
4 Canola    1400

## Problem 11

#### Rank the crops and geographies by their average yield (KG per hectare) since the year 2000. Which crop and province had the highest average yield since the year 2000?

In [14]:
dbGetQuery(conn, "SELECT CROP_TYPE, GEO, AVG_YIELD, strftime('%Y',YEAR) AS YEAR
FROM CROP_DATA
WHERE YEAR >= 2000
ORDER BY AVG_YIELD desc
LIMIT 15")

   CROP_TYPE GEO          AVG_YIELD YEAR
1  Barley    Alberta      4100      2013
2  Barley    Alberta      4100      2016
3  Barley    Alberta      3980      2020
4  Wheat     Alberta      3900      2013
5  Barley    Canada       3900      2016
6  Wheat     Alberta      3900      2016
7  Barley    Alberta      3900      2017
8  Barley    Alberta      3890      2019
9  Barley    Canada       3820      2020
10 Barley    Canada       3810      2019
11 Barley    Canada       3800      2013
12 Barley    Saskatchewan 3800      2016
13 Wheat     Alberta      3750      2020
14 Barley    Saskatchewan 3730      2019
15 Barley    Alberta      3700      2015

In [27]:
dbGetQuery(conn, "SELECT CROP_TYPE, GEO, AVG_YIELD, strftime('%Y',YEAR) AS YEAR
FROM CROP_DATA
WHERE YEAR <= 2000
ORDER BY AVG_YIELD desc
LIMIT 1")

  CROP_TYPE GEO     AVG_YIELD YEAR
1 Barley    Alberta 3500      1993

## Problem 12

#### Use a subquery to determine how much wheat was harvested in Canada in the most recent year of the data.

In [45]:
dbGetQuery(conn, "SELECT SUM(HARVESTED_AREA) AS TOTAL_HARVESTED_WHEAT, strftime('%Y',YEAR) AS YEAR
FROM CROP_DATA
WHERE YEAR = (SELECT MAX(YEAR) FROM CROP_DATA)
AND GEO = 'Canada' AND CROP_TYPE = 'Wheat'")

  TOTAL_HARVESTED_WHEAT YEAR
1 10017800              2020

## Problem 13

#### Use an implicit inner join to calculate the monthly price per metric tonne of Canola grown in Saskatchewan in both Canadian and US dollars. Display the most recent 6 months of the data.

In [60]:
dbGetQuery(conn, "SELECT F.DATE, F.GEO, F.CROP_TYPE, M.FXUSDCAD AS USDtoCAD, F.PRICE_PRERMT AS CAD_PRICE,
(F.PRICE_PRERMT/M.FXUSDCAD) AS USD_PRICE
FROM FARM_PRICES F, MONTHLY_FX M
WHERE strftime('%Y',F.DATE) = strftime('%Y',M.DATE)
AND strftime('%m',F.DATE) = strftime('%m',M.DATE)
AND CROP_TYPE ='Canola' 
AND GEO = 'Saskatchewan' 
ORDER BY F.DATE desc LIMIT 6")

  DATE       GEO          CROP_TYPE USDtoCAD CAD_PRICE USD_PRICE
1 2020-12-01 Saskatchewan Canola    1.280771 507.33    396.1128
2 2020-11-01 Saskatchewan Canola    1.306820 495.64    379.2718
3 2020-10-01 Saskatchewan Canola    1.321471 474.80    359.2965
4 2020-09-01 Saskatchewan Canola    1.322810 463.52    350.4057
5 2020-08-01 Saskatchewan Canola    1.322205 464.60    351.3827
6 2020-07-01 Saskatchewan Canola    1.349850 462.88    342.9122

In [24]:
dbDisconnect(conn)

## Author(s)

<h4> Jeff Grossman </h4>

<h4> D.M. Naidu </h4>

## Contributor(s)

<h4> Rav Ahuja </h4>

<h4> Lakshmi Holla </h4>


## Change log

| Date       | Version | Changed by    | Change Description                        |
| ---------- | ------- | ------------- | ----------------------------------------- |
| 2022-03-03 | 1.0     | D.M. Naidu    | Converted intial version to RSQLite       |

## <h3 align="center"> © IBM Corporation 2022. All rights reserved. <h3/>